*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image{
border-radius: 50%;
height: 300px;
width: 200px;
padding: 30px;
 

}
.image:hover{
    transform: scale(1.1);
    
}

.intro{
    position: relative;
display: flex;
flex-direction: column;
}
.main{
    background: linear-gradient(45deg,#231fbf,#69175f);
    /* background-color: #2a2a2a; */

max-width: 200px; 
margin-left: 5%;
margin-top: 5%;

display: flex;
flex-direction: column;
justify-content: center;
font-size: x-small;
color: antiquewhite;
text-align: center;



}
.right{
    margin-left: 30px;
    margin-top: 70px;
    /* background: linear-gradient(45deg,#231fbf,#69175f); */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
    flex-grow: 3;

}
  .name{

    text-align: center;

  }

  h1{
    color: aliceblue;
    
    
   
}
.skills{
     padding: 10px;
     margin: 10px;
      display: flexbox;
    min-width: 330px;
     
    
   }
.experience  {
display: flex;

text-align: center;
justify-content: center;
background-color: black;
color: aliceblue;
padding: 10px;
margin: 10px;
font-size: large;


.export {

border-width: 2px;
border: #69175f;


}

}


   
  
 
.intro h1{
    padding-top: 10px;
    margin-bottom: 0%;
    text-align: center;
}
.phone{
    margin-top: 5px;
text-align: center;

    font-size: x-small;
}
body{
    
/* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
/* background-color: yellow; */

/* background: rgb(34,193,195); */
/* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}
.main h2{
    padding-top: 10px;
}
.flex_container{
display: flex;
}
.middle{
    display: flex;
    padding: 15px;
}

.containerr{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 40px;
    background-color: black;
    justify-content: space-around;

}
.containerr .card{
position: relative;
width: 220px;
height: 400px; 
background-color: #2a2a2a;
}
.containerr .card .percent{
position: relative;
width: 150px;
height: 150px;

}
.containerr .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
}
.svg1 h2{
    color: aliceblue;

       }
.svg1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.svg1 h2:hover{
    border: 1px solid red;
     box-shadow: 0px 0px 30px 10px red;
}
.intro li{
    padding-left: 0;
}
.export important{
border: dotted black;

}
.a{
    border-left:solid white ;
    margin-left: 10px;
    margin-top:10px ;
    border-radius: 10%;
    border-right:solid white ;
 

border-width: 3px;}
.b{
    border-left:solid white ;
    margin-left: 10px;
    margin-top:10px ;
    border-radius: 10%;
    border-right:solid white ;
 

border-width: 3px;}
.c{
    border-left:solid white ;
    margin-left: 10px;
    margin-top:10px ;
    border-radius: 10%;
    border-right:solid white ;
 

border-width: 3px;}
.d{
    border-left:solid white ;
    margin-left: 10px;
    margin-top:10px ;
    border-radius: 10%;
    border-right:solid white ;
 

border-width: 3px;}

.a:hover{
    border: 1px solid red;
     box-shadow: 0px 0px 30px 10px red;
}
.b:hover{
    border: 1px solid red;
     box-shadow: 0px 0px 30px 10px red;
}
.c:hover{
    border: 1px solid red;
     box-shadow: 0px 0px 30px 10px red;
}
.d:hover{
    border: 1px solid red;
     box-shadow: 0px 0px 30px 10px red;
}

.svg1:hover{
    transform: scale(1.1);
    border: 1px solid red;
    box-shadow: 0px 0px 30px 0px red;
    
}
.logo{
   width: 100px;
   height: 100px;
}
.school{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    min-width: 33%;
  
}
.institutes{

  display: flex; 

}
.college{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 33%;
   
}
.arrow{
 
height: 40px;

}
.ab{
    padding-top: 30px;
    m
}
